  *::after,
  *::before {
      box-sizing: inherit;
  }

  html {
      font-size: 16px;
      font-family: 'web font', 'osx fallback', 'win fallback', sans-serif;
      line-height: 1.5;
  }


  * {
      padding: 1rem 2rem 0rem 2rem;
  }


  nav {

      font-size: 2rem;
      padding-left: 5rem;
      background-color: hsl(220deg, 100%, 50%);
      border-bottom: solid;
      border-bottom-width: 2rem;
      border-bottom-color: hsl(0deg, 0%, 0%);
  }

  nav > a {

      color: hsl(100deg, 100%, 100%);

  }



  header {

      padding: 3rem 2rem 4rem 2rem;
      background-image: url(../img/download.jpeg);
      background-size: cover;
      height: 350px;
      background-position: center;
      background-repeat: no-repeat;



  }

  header > h1 {
      color: hsl(0deg, 0%, 0%);
      text-shadow: 2px 2px 5px hsl(100deg, 100%, 100%);

  }

  header > h2 {
      color: hsl(30deg, 50%, 50%);
  }

  main {
      padding: 0rem 0rem;
  }


  main > h2 {
      color: hsl(210deg, 40%, 40%);
      font-size: 1.5rem;

      padding: 0rem 2rem 0rem 2rem;
  }

  p {
      padding: 1rem 2rem 0rem 2rem;
      font-size: 1.2rem;
  }

  ul {
      padding: 0rem 2rem 0rem 3.5rem;
  }

  li {
      font-size: 1rem;
      padding: 0rem 2rem 0rem 1rem;
  }

  section {
      padding: 1rem 2rem;
  }

  aside {
      padding: 1rem 2rem;
  }

  footer {
      padding: 1rem 2rem;
  }
